body {
    background-color: $brand-secondary;
    font-family: $font-family-base;
    margin: auto;
}
    .phone {
        background-color: $brand-third;
        border-radius: 30px;
        border: 10px solid $white;
        padding: 10px 15px 0;
        margin: auto;
        width: 250px;
        height: 540px;
    }    
        section {
            background-color: $brand-light;
            border-radius: 2px;
        }
        
            
